<% provide(:title, "See Im here") %>

				<h3><em>IRISH TOURS FOR SOFTWARE DEVELOPERS</em> </h3>
			<div id="bannerImage">    <%=image_tag("cliffs-sunset.jpg", :class=> "Sunset At the Cliffs of Moher.") %></div>
				<p>&nbsp;</p>
				<h2>About ExploreMore.ie...</h2>
				<p class="whitefont" >
				    <%=image_tag("Ireland.png", :class=> "Sunset At the Cliffs of Moher.") %>
				    <!--style="float: 
left;width="279" height="140" alt="ireland"/>-->Passionate about sharing Ireland with IT Students.</p>
				<p class="whitefont">We are an Ireland Only Destination Management Company specialising in providing custom & unique leisure weekend tour experiences to fellow IT students.</p>
				<p class="whitefont">In business since 2019, our mission is to ensure that IT students in Dublin get a chance to detach from their screens and enjoy the very best of the Emerald Isle. Our Head Office is in Dublin City, and we work with Student Union bodies at several leading Irish universities. </p>

			<div id="details">
				<h2>Quality Accomodation &amp; Transport</h2>
				<p>ExploreMoreIreland was established in 2019 after four software development students realised that their classmates rarely got an opportunity to step away from their screens and explore their natural surroundings. The company is now a thriving startup which caters for individual and group customers from around the world. Our tours currently run out of Dublin during the weekends and our destinations include places like Galway, Dingle, West Cork and Donegal. Our Head Office is based in the campus of the National College of Ireland in Dublin's Docklands area and we have established strong links with a number of leading universities in Dublin, including DCU, UCD, Trinity College and TUD.</p>
			</div>
			<div id="details">
<!-- The details information is contained here -->
				<h2>The Company Today</h2>
				<p>The ExploreMoreIreland company employs a staff of over 5 people. Our team are very committed to ensuring that like minded customers get to explore the very best that Ireland has to offer &amp; dedicated to making sure all of our clients have the most memorable Emerald Isle experience. We are proud of the fact that we are a friendly team of software developers who understand and connect with our clients. We are focused on building personal relationship with all our clients so that we can offer you not only our knowledge &amp; advice, and we offer 24 hour support before and while clients travel with us. So, come travel with us and understand why in stunning Ireland there are no strangers, only friends you have not met!</p>
			</div>

			<div id="details">
				<h2>Our Story</h2>
			<div id="bannerImage"><img src="staff_edit.jpg" alt=""/></div>
				<p>ExploreMoreIreland was established in 2019 after four software development students realised that their classmates rarely got an opportunity to step away from their screens and explore their natural surroundings. The company is now a thriving startup which caters for individual and group customers from around the world. Our Niall Conway, James Dempsey, James Bentley, Alan McCarney tours currently run out of Dublin during the weekends and our destinations include places like Galway, Dingle, West Cork and Donegal. Our Head Office is based in the campus of the National College of Ireland in Dublin's Docklands area and we have established strong links with a number of leading universities in Dublin, including DCU, UCD, Trinity College and TUD.&nbsp;</p>
			</div>
				<p>Kilkenny is a medieval town in southeast Ireland. Its grand Kilkenny Castle was built in 1195 by Norman occupiers. The town has deep religious roots and many well-preserved churches and monasteries, including imposing St. Canice’s Cathedral and the Black Abbey Dominican priory, both from the 13th century. It's also a crafts hub, with shops along its winding lanes selling pottery, paintings and jewellery. </p>
				<p>Kilkenny is a richly historic place with a warm welcome and the promise of an unrivalled experience that resonates long after you leave. Built from dark-grey limestone flecked with fossil seashells, Kilkenny (from the Irish 'Cill Chainnigh', meaning the Church of St Canice) is also known as 'the marble city'. Kilkenny’s famous Medieval Mile is Ireland’s best-preserved medieval city, the mile captures 800 years of history and hosts renowned and hidden gems, from the magnificent Castle to the enchanting Rothe Gardens to St. Canice’s round tower which at 30m is one of only three climbable towers in Ireland. This is a city shrouded in tales of superstition and subterfuge</p>
				<p> Visit the Shee Alms House, a Tudor building dating from 1582, today it is the Kilkenny Tourist Office. The Black Abbey is one of the oldest churches in Kilkenny serving the community for the last 760 years. The Famine Memorial is new visitor experience to discover located within the grounds of MacDonagh Junction Shopping Centre, check it out before hitting the shops. There is just so much to experience in Kilkenny. </p>
			</div>

			<div id="advantages">
<!-- The details information is contained here -->
				<h2>IRELAND ONLY DESTINATION &amp; SERVICE</h2>
				<p>Here is why you should explore with us.</p>
				<p>&nbsp;</p>
			<div>
			<div class="benefits">
				<p>
             
			 <div>
                <h3><strong>Personal Service of a Friendly Team</strong></h3>
				<img src="icons/personnel.png" width="120" height="100" alt=""/></div>
				</p>
				<p>We offer 9 months of Travel Expertise on custom Ireland tours. We ensures the highest level of personal customer service and a dedication to our competitive quality product. We pride ourselves on being energetic and enthusiastic team that are very passionate about Ireland.</p>
				<p>&nbsp;</p>
			</div>
			
			<div class="benefits">
				<hr>
				<h3><strong>Qualified Tourguides</strong></h3>
				<p>
            <div><img src="icons/testimonial.png" width="100" height="120" alt=""/></div>
				</p>
				<p>Your personal driver is also a certified Irish guide meaning that they have a deep understanding of the Irish history and landscape. All of our custom tours include time for photo stops, lunch and general rambling!</p>
				<p>&nbsp;</p>
				<hr>
			</div>
		  
			<div class="benefits">
				<h3><strong>Quality Transport</strong></h3>
				<p>
            <div>
				<img src="icons/24hr service.png" width="100" height="100" alt=""/></div>
				</p>
				<p>We work with an award-winning Coach Tour Operator, which recognizes service, stability &amp; commitment within the Irish transport industry. For almost two decades, O'Brien Coaches has delivered the highest standard of quality in transportation in Ireland. Their fleet of six vehicles includes safe and comfortable minivans and full size coaches.</p>
				<p>&nbsp;</p>
			</div>
		  
			<div class="benefits">
				<hr>
				<h3><strong>Group Packages</strong></h3>
				<p>
            <div>
			<!--	<img src="icons/packages.png" width="100" height="100" alt="packages"/></div>
				-->
				 <%=image_tag("packages.png", :class=> "packages icon.") %>
				</p>
				<p>We understand that some teams may require specialised arrangements - particularly for startup SMEs who are starting to hire new graduates. As such ExploreMoreIreland provides special packages which includes enhanced customer service, networking opportunities and access to remote workspaces. </p>
			</div>
			</div>
			</div>