<div class="mainCont">
    <%=image_tag("cliffs.png", :class=> "welcomeIm") %>
    
    <h1>Home Page</h1>
    
    <p>Come explore more with explore more!</p>
    
    <!--<br>-->
    
    <p>Fancy some surfing in Donegal?</p>
    <p>Or some sailing in Dingle?</p>
    <p>Whether you are looking for adventure or craic 'n' ceoil;
    ExploreMore has you covered!</p>
    
    			<table class="table" width="400" border="1">
				<tbody>
					<tr>
						<th scope="col">Destination&nbsp;</th>
						<th scope="col">&nbsp;Price&nbsp;</th>
					</tr>
					<tr>
						<td>Surfing and Shopping</td>
						<td>&nbsp;75</td>
					</tr>
					<tr>
						<td>Shopping and Cliffs&nbsp;</td>
						<td>75&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;Cliffs &amp; Boating&nbsp;&nbsp;</td>
						<td>&nbsp;90</td>
					</tr>
					<tr>
						<td>Boating &amp; Food&nbsp;</td>
						<td>&nbsp;95</td>
					</tr>
				</tbody>
			</table>
    
    
</div>
