.headSec {
   /* background: url("/assets/site/cliffs.png");*= require cookieconsent
*/
    min-height:10px;

    background-color: #0C7C31;
    width:100%;
    margin-bottom:10px;
     overflow: auto;
     
    
}



.headSec h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;

}


.mainCont { 
    
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}

.welcomeIm {width: 30%;}


ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
    
}

li {float:left;}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.mainCont { 
    
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}

.welcomeIm {width: 30%;}


.foot {
    min-height: 80px;
    background-color: #0C7C31;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    
    
}

.container {
      background: url("/assets/site/clubhead.png");
      background-repeat:no-repeat;
      background-position:right bottom;
      width: 100%;
      min-height: 700px;
}



#itemsContainer {
    width: 100%;
    text-align: center;
    
    
}


#itemsContainer h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}


.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;

}


.itemhols h1 {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.itemholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/*contact Css*= require cookieconsent
*/
/*
@charset "UTF-8";
@font-face {
  font-family: Celtic;
  src: url(Celtic.ttf);
  font-weight: normal;
}
* {
 font-family: Celtic;
}

#body {
 background-image: url("background.jpg");
background-size: 100%;
}

#mainwrapper header {
    /*Header *= require cookieconsent
*/
    /*
    background-color: rgba(0,0,0,1.00);
    overflow: auto;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#mainwrapper header #logo {
	/* Company Logo text *= require cookieconsent
*/
	/*
	width: 28%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgba(146,146,146,1.00);
}
#mainwrapper header nav {
	/*Nav bar containing links *= require cookieconsent
*/
	/*
	text-align: right;
	padding-top: 30px;
	padding-bottom: 2px;
	padding-right: 2%;
	width: 68%;
	float: right;
	color: rgba(146,146,146,1.00);
}
header nav a {
	/* Links in header *= require cookieconsent
*/
/*
padding-right: 2%;
}
#content #mainContent h1, #content #mainContent h2 {
    color: #ACDF87;
    text-align: center;
}
#content #mainContent h3 {
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #ACDF87;
    text-align: center;
}
#content #mainContent #bannerImage {
	/*Main banner image container *= require cookieconsent
*/
	/*
	width: 100%;
	background-color: rgba(208,207,207,1.00);
}
#content #mainContent p {
    color: rgba(146,146,146,1.00);
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: justify;
    min-width: 0px;
    min-height: 0px;
    float: none;
}
#content #mainContent #testimonial {
    background-color: rgba(0,0,0,1.00);
}
#content #mainContent #testimonial h2, #content #mainContent #testimonial p {
    color: rgba(255,255,255,1.00);
    padding-left: 2%;
    padding-top: 11px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#content #mainContent #prices p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
}


.table{

}


#content #mainContent #prices h2, #content #mainContent #testimonial p {
    color: rgba(255,255,255,1.00);
    padding-left: 2%;
    padding-top: 11px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#content #mainContent #testimonial p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
	float:
}



.details {
    background-color: #FFFFFF;
    padding-left: 2%;
    padding-top: 0px;
    padding-bottom: 11px;
    padding-right: 2%;
    margin-top: 10px;
}

#mainContent {
    /* Container for the content *= require cookieconsent
*/
    /*
    padding-left: 2%;
    width: 71%;
    padding-right: 2%;
    padding-top: 41px;
    float: right;
    text-align: center;
}
#mainwrapper #content #sidebar {
    width: 19%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    background-color: #ACDF87;
    margin-top: 150px;
    padding-top: 32px;
}
#mainwrapper {
    width: 80%;
    overflow: auto;
    margin-left: 10%;
    background-color: #1E5631;
    margin-top: 0px;
    padding-top: 0px;
    border-color: #C54E50;
}

#content #sidebar #NCIimage {
	/* Container for Image in sidebar *= require cookieconsent
*/
	/*
	width: 100%;
	background-color: rgba(208,207,207,1.00);
	margin-top: 46px;
	float: none;
	overflow: auto;
}
nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}

/* Navigation Links - click, hover etc *= require cookieconsent
*/
/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/*SLIDESHOW FOR TOP OF PAGE UNDER NAVBAR*= require cookieconsent
*/

/*SLIDESHOW BANNER*= require cookieconsent
*/
/*
* {box-sizing:border-box}

/* Slideshow container *= require cookieconsent
*/
/*
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Hide the images by default *= require cookieconsent
*/
/*
.mySlides {
  display: none;
}

/* Next & previous buttons *= require cookieconsent
*/
/*
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right *= require cookieconsent
*/
/*
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through *= require cookieconsent
*/
/*
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text *= require cookieconsent
*/
/*
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators *= require cookieconsent
*/
/*
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation *= require cookieconsent
*/
/*
.fade {
  animation-name: fade;
  animation-duration: 2s;
}


/*QUERYFORM*= require cookieconsent
*/
/* Style inputs with type="text", select elements and textareas *= require cookieconsent
*/
/*
input[type=text], select, textarea {
  width: 100%; /* Full width *= require cookieconsent
*/
  /*
  padding: 5px; /* Some padding *= require cookieconsent
*/
  /*
  border: 5px solid #ccc; /* Gray border *= require cookieconsent
*/
  /*
  border-radius: 10px; /* Rounded borders *= require cookieconsent
*/
  /*
  box-sizing: border-box; /* Make sure that padding and width stays in place *= require cookieconsent
*/
  /*
  margin-top: 6px; /* Add a top margin *= require cookieconsent
*/
  /*
  margin-bottom: 16px; /* Bottom margin *= require cookieconsent
*/
  /*
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) *= require cookieconsent
*/
/*}

/* Style the submit button with a specific background color etc *= require cookieconsent
*/
/*
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: 2px;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color *= require cookieconsent
*/
/*
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form *= require cookieconsent
*/
/*
.container {
  display: block;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  background-color: ##ACDF87;
  padding: 10px;
}

.radio{
  display: block;
  text-align: left;
  font-size: 25px;
  border-radius: 5px;
  background-color: ##ACDF87;
  padding: 10px;
}

#footer {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #000000;
    height: auto;
    overflow: auto;
    font-size: 40px;
}
.box {
    width: 45%;
    padding: 10px;
    margin-top: 0;
    margin-right: 0.5%;
    margin-left: 14.5%;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: #000000;
    float: left;
    bottom: 0px;
    color: #FFFFFF;
 }


#mainContent #bannerImage img {
	/* Banner image *= require cookieconsent
*/
	/*
	width: 100%;
}
#sidebar #NCIimage img {
	/* Sidebar Image *= require cookieconsent
*/
	/*
	width: 100%;
	float: left;
}
#mainwrapper header nav a {
	/* Links in header *= require cookieconsent
*/
	/*
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}*= require cookieconsent
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-family: 'Celtic';
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*End of Normalize CSS*/

@font-face {
  font-family: 'Celtic';
  src:url('Celtic.ttf');
  src:url('Celtic.eot?#iefix') format('embedded-opentype'),
    url('Celtic.svg#icomoon') format('svg'),
    url('Celtic.ttf') format('tff'),
    url('Celtic.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.h2{
    font-family: 'Celtic';
}
